Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  width: 100%;
}

.about {
  max-width: 1200px;
}

.head {
  align-items: center;
  display: grid;
  gap:2rem;
  grid-template-columns: 
    repeat(auto-fit, minmax(70vh, 1fr));
  margin-top: 4rem;
  position: relative;
}

.head .image img{
  max-width: 100%;
  height: 35rem;
}

.head .image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.head .content p,
.mision p,
.work-flow p {
  font-size: 1.7rem;
  line-height: 2;
  color: var(--light-color);
  padding: 1rem 0;
}

.head .content h2,
.mision h2,
.work-flow h2,
.team h2 {
  text-align: center;
  font-size: 2.5rem;
  color:var(--black);
  text-transform: capitalize;
}

.head .cta-buttons {
  margin-top: 1rem;
}

.mision {
  align-items: center;
  display: grid;
  gap:2rem;
  grid-template-columns: 
    repeat(auto-fit, minmax(40vh, 1fr));
  background-color: rgb(248, 248, 248);
  padding: 2rem;
  border-radius: 2rem;
}

.mision h2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.mision h2 {
  flex: 1 1 40rem;
}

.mision p {
  flex: 1 1 40rem;
}

.work-flow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 4rem;
}

.work-flow .up {
  width: 100%;
  align-items: center;
  display: grid;
  gap:4rem;
  grid-template-columns: 
    repeat(auto-fit, minmax(50vh, 2fr));
  margin-inline: auto;
  margin-top: 4rem;
}

.work-flow img {
  width: 100%;
  height: 35rem;
  border-radius: 2rem;
}

.work-flow h2 {
  text-align: center;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.members {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr)); */
  gap: 2rem;
  margin: 4rem 0;
}

@media(max-width: 768px){
  .members {
    flex-direction: column;
  }
}


.members .container {
  width: 250px;
  height: 400px;
  perspective: 800px;
}

.members .container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.members .card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.members .front,
.members .back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.members .front {
  /* background-image: url(/assets/images/teacher1.png); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
}

.members .front h2 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.members .back {
  background-color: #e0e0e0;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
}

.box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45vh, 1fr));
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 2rem;
}

.box-container .box {
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.box-container .box i {
  font-size: 4rem;
  color: #ffc400;
}

.box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  margin-bottom: 0.3rem;
}

.box-container .box p {
  font-size: 1.7rem;
  color: var(--light-color);
}

/* Features section */

.features {
  padding: 5rem 1rem;
  font-size: 2.5rem;
  color: #1a1a1a;
  margin-bottom: 2rem;
  text-align: center;
}

.features h2 {
  padding: 3rem;
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  color: #1a1a1a;
  margin-bottom: 2rem;
  text-align: center;
}


.feature-card {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: calc(25% - 1.5rem);
  text-align: center;
  padding: 2rem 1rem;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card img {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

.feature-card h3 {
  font-size: 1.2rem;
  color: #1a1a1a;
  margin-bottom: 0.5rem;
}

.feature-card p {
  font-size: 0.9rem;
  color: #565d6d;
}
